doctype
html
    head
        title= "Real time web chat"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
    body
        #content(style="height: 300px")
            #messages(
                class="col-md-8"
            )
            #users(
                class="col-md-4"
            )
        #controls
            input#field(style='width:350px;')
            input#send(type='button', value='send')
